# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
.env
.venv

# Ignore LiDAR files (large data)
*.las
*.laz

# Ignore output and result folders
output/

# Ignore generated raster files like GeoTIFF
*.tif
